<%= simple_form_for(@artist, html:  {:class => 'form-horizontal'}) do |f| %>
  <%= f.input :name, label: false, input_html: {:class => 'form-control', placeholder: 'Name' } %>
  <br/>
  <%= f.input :pic_url, label: false, input_html: {:class => 'form-control', placeholder: 'Profile Image' } %>
  <br/>
  <div style="text-align:center;">
    <%= f.submit "Submit".html_safe, :class => 'btn btn-md btn-default' %>
  </div>
<% end %>
