<h1>Party Time!</h1>
<p>You may select rock, paper, or scissors!</p>

<p><%= link_to 'Rock', rock_paper_scissors_show_path(0) %></p>
<p><%= link_to 'Paper', rock_paper_scissors_show_path(1) %></p>
<p><%= link_to 'Scissors', rock_paper_scissors_show_path(2) %></p>

<p><%= link_to 'Show', rock_paper_scissors_show_path %></p>



