<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Music", root_path %></li>
  <li role="presentation"><%= link_to "Artists", artists_path %></li>
  <li role="presentation"><%= link_to "Record Label", record_labels_path %></li>
</ul>