<%= simple_form_for(@record_label, html:  {:class => 'form-horizontal'}) do |f| %>
  <%= f.input :name, label: false,  input_html: {:class => 'form-control', placeholder: 'Name', autofocus: true } %>
  <br/>
  <div style="text-align:center;">
    <%= f.submit "Submit".html_safe, :class => 'btn btn-md btn-default' %>
  </div>
<% end %>