<center><h1>Choose A Game To Play<h1></center>
<center>
	<table>
		<tr>
			<th>
				<%= link_to image_tag("http://s.b5z.net/i/u/8100253/i/RMG_Networks_8-26-2014.jpg", width: 350, height: 225), new_secret_number_path %>
			</th>
			<th>
				<%= link_to image_tag("http://advisoranalyst.com/glablog/wp-content/uploads/2014/05/thumb_6917_rockpaperscissors.jpg", width: 350, height: 225), new_rock_paper_scissor_path %>
			</th>
		</tr>
		<tr>
			<th>
				<%= link_to "Secret Number Game", new_secret_number_path %> 
			</th>
			<th>
				<%= link_to "Play Rock Paper Scissor Game", new_rock_paper_scissor_path %> 
			</th>
		</tr>
	</table>
</center>