<div class='col-md-12'>
<div class="col-md-8 col-md-offset-2">
<h1 style="color:#666666;">Record Label Index Page</h1>

<div class="table-responsive">

<table class="table table-striped table-hover">

	<tr class="small">
		<th> Record Label Name </th>
		<th> Actions </th>
	</tr>

<% @record_labels.each do |record| %>

	<tr class="small">
		<td> <%= record_label.name %> </td>
		<td>
			<%= link_to "#{record_label.name}", record_label_path(record_label), :class => 'btn btn-xs btn-danger'  %> 
			<%= link_to 'Delete', record_label, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-xs btn-warning' %>
			
		</td>	
	</tr>
<% end %>
<%= link_to "Create New Record Label", new_record_label_path, :class => 'btn btn-xs btn-success' %>
</table>

</div>
</div>

</div>