<h1>Party Time!</h1>
<p>You may select rock, paper, or scissors.</p>


<%= link_to 'Rock', rock_paper_scissors_show_path(0) %>
<%= link_to 'Paper', rock_paper_scissors_show_path(1) %>
<%= link_to 'Scissors', rock_paper_scissors_show_path(2) %>

<p><%= link_to 'Show', rock_paper_scissors_show_path %></p>
