<!-- <h1>The Music App</h1>
<p>Welcome to the Music App. Use the navigation menu above to find, add, or edit your favorite artists, record labels, and tracks!</p> -->
<div class="jumbotron">
				<h1 align="center">
					Welcome!
				</h1>
				<p align="center">
					This app allows users to input their favorite artists, tracks, record labels, and artist images. </p>
					<p align="center">Please use the navigation bar at the top to get started.</p>
			</div>


